{% set title = "HMweb-This Site" %}


{% extends "base.html" %}
{% block content %}
      <div class="thisSite" id="thisSite">
        <div class="image-overlay d-flex flex-column justify-content-center alig-items-center">
          <h1 class="display-4 text-white">Ce site</h1>
          <p class="text-sm text-white text-center" style="margin-left:6vw;margin-right:6vw">Ce site est dans un premier temps une (re)découverte
          du HTML, du CSS et légèrement du JS. Il est basique, très simple et certains détails ne me conviennent pas vraiment. il reste cependant dans l'ADN de bootstrap.<br>
        C'est une occasion pour moi de vous montrer que je n'ai pas peur de découvrir, d'essayer et que passer du temps sur un projet m'est familier.
      <br>Je pense que ce site est plus complet, parle plus de moi et est moins formel qu'une simple lettre de motivation avec un CV.
      Si vous êtes arrivé jusqu'ici, je vous remercie vraiment du temps pris pour lire, et espère vous revoir dans le cadre d'un entretien.</p>
    <h2 class="display-8 text-white">Outils & langages:</h2>   
    <ul class="text-white">
      <li>Python (avec le framework Flask)</li>
      <li>HTML, CSS, BOOTSTRAP 5</li>
      <li>ChatGPT (pour le debug uniquement)</li>
    </ul> 
    <h2 class="display-8 text-white">Temps passée sur le projet: ~ 30H</h2> 
    </div>
      </div>

</body>
{% endblock %}